{
  "extends": ["stylelint-config-standard-scss"],
  "ignoreFiles": ["dist/**", "node_modules/**"],
  "rules": {
    "import-notation": "string",
    "max-nesting-depth": 4,
    "no-empty-source": null,
    "color-named": "always-where-possible",
    "color-function-notation": null,
    "media-feature-range-notation": "prefix",
    "no-invalid-position-at-import-rule": [
      true,
      {
        "ignoreAtRules": ["use"]
      }
    ],
    "selector-pseudo-element-no-unknown": [
      true,
      {
        "ignorePseudoElements": ["ng-deep"]
      }
    ]
  }
}
