{
  "extends": ["stylelint-config-standard", "stylelint-config-sass-guidelines"],
  "ignoreFiles": ["dist/**", "node_modules/**"],
  "rules": {
    "max-nesting-depth": 3,
    "import-notation": "string",
    "no-empty-source": null,
    "color-named": "always-where-possible",
    "no-invalid-position-at-import-rule": [
      true,
      {
        "ignoreAtRules": ["use"]
      }
    ]
  }
}
