<app-auth-layout
  url="https://res.cloudinary.com/versomart/image/upload/v1697799392/versomart-img/shopping-4011117_1280_qw5kaj.jpg"
>
  <ng-container auth-form>
    <form [formGroup]="signUpForm" (ngSubmit)="submitForm()" class="auth-form">
      <h1 class="sign-up__title">{{ 'signUpPage.title' | translate }}</h1>
      <p class="sign-up__subtitle">{{ 'signUpPage.subtitle' | translate }}</p>
      <app-social-auth-btns class="sign-up__social-auth-btns"></app-social-auth-btns>
      <app-divider class="sign-up__divider"></app-divider>
      <app-email-field
        [emailFormControl]="emailFormControl"
        [translationKey]="'signUpPage.email.text'"
        [placeholderKey]="'test@email.com'"
      ></app-email-field>
      <app-password-field
        class="sign-up__password-field"
        [passwordControl]="passwordControl"
      ></app-password-field>
      <p class="sign-up__password-sub-hint">
        {{ 'signUpPage.password.requirements' | translate }}
      </p>
      <section class="sign-up__checkbox-section">
        <mat-checkbox
          class="sign-up__checkbox-agreement"
          color="primary"
          formControlName="termsAndPrivacy"
          >{{ 'signUpPage.checkBoxPrivacy.agree' | translate }}
          <a class="sign-up__checkbox-agreement-link" href="#" (click)="(false)">{{
            'signUpPage.checkBoxPrivacy.terms' | translate
          }}</a>
          {{ 'signUpPage.checkBoxPrivacy.and' | translate }}
          <a class="sign-up__checkbox-agreement-link" href="#" (click)="(false)">
            {{ 'signUpPage.checkBoxPrivacy.privacy' | translate }}</a
          >
        </mat-checkbox>
        <mat-checkbox
          class="sign-up__checkbox-newsletter"
          color="primary"
          formControlName="newsletter"
          >{{ 'signUpPage.checkBoxNewsletter' | translate }}</mat-checkbox
        >
      </section>
      <ng-container *ngIf="commonError$ | async as commonError">
        <mat-error *ngIf="(commonError$ | async)?.errorCode">{{
          commonError.errorCode
            ? ('apiErrors.' + commonError.errorCode | translate: commonError.errorData)
            : ''
        }}</mat-error>
      </ng-container>
      <app-btn-action
        [isFormValid]="signUpForm.valid"
        [isFormLoading]="isFormLoading"
        buttonTranslateKey="signInPage.authButton.text"
      ></app-btn-action>
      <p class="sign-up__navigateToSignIn">
        {{ 'signUpPage.navigateToSignIn.text' | translate }}
        <a
          class="sign-up__navigateToSignIn-link"
          [href]="'/' + (languageApp$ | async)?.value + '/auth/sign-in'"
        >
          {{ 'signUpPage.navigateToSignIn.linkText' | translate }}</a
        >
      </p>
    </form>
  </ng-container>
</app-auth-layout>
