<header class="header">
  <div class="container">
    <div class="header-inner">
      <div class="nav-brand-logo">
        <a (click)="scrollToTop()" [routerLink]="['/']"><img src="/assets/logo.png" alt="logo" /></a>
      </div>
      <div class="nav">
        <div class="nav-theme">
          <img src="/assets/theme-change-icon.png" alt="" />
          <select class="nav-theme-select" aria-label="Theme" [ngModel]="theme$()" (ngModelChange)="setLang($event)">
            <option *ngFor="let theme of themeOptions" [value]="theme.code">
              {{ theme.title }}
            </option>
          </select>
        </div>
        <div class="nav-lang">
          <img src="/assets/language.png" alt="" />
        </div>
        <select class="nav-lang-select" aria-label="Language" [ngModel]="lang$" (ngModelChange)="setLang($event)">
          <option *ngFor="let option of languageOptions" [value]="option.code">
            {{ option.title }}
          </option>
        </select>

        <div class="auth-buttons">
          <button class="auth-button auth-button-login" mat-raised-button color="primary">Login</button>
          <button class="auth-button auth-button-sign_up" mat-stroked-button color="primary">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</header>
