@use "/src/styles/variables/breakpoints";

.sidenav {
  width: 25rem;
  display: flex;
  justify-content: center;
  margin: 1rem 2rem;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 20rem;
  }

  &__auth-buttons {
    margin-top: 2rem;
  }

  &__nav-user-hub {
    margin-bottom: 2rem;
  }
}

@media (max-width: breakpoints.$breakpoint-small) {
  .sidenav {
    &__nav-user-hub {
      display: none;
    }
  }
}
