@use '/src/styles/variables/breakpoints';

.sidenav {
  width: 25rem;
  display: flex;
  justify-content: center;
  margin: 1rem 2rem;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 20rem;
  }

  &__auth-buttons {
    margin-top: 2rem;

    ::ng-deep {
      .auth-btn {
        box-sizing: content-box;
        width: 14.1rem;
        height: 4.9rem;

        &--login {
          margin-bottom: 0.5rem;
        }

        &--sign-up {
          margin-bottom: 0.5rem;
        }
      }
    }
  }

  &__nav-user-hub {
    margin-bottom: 2rem;
  }
}

@media (max-width: breakpoints.$breakpoint-small) {
  .sidenav {
    &__nav-user-hub {
      display: none;
    }
  }
}
