@use '/src/styles/variables/breakpoints';
@use '/src/styles/variables/spacing';

:host .auth-layout {
  height: 100%;

  &__inner {
    height: 100%;
    max-height: spacing.$max-height-screen;
    display: flex;

    ::ng-deep {
      .auth-form {
        width: 50%;
        max-width: 56.8rem;
        margin-top: 6rem;
        margin-left: clamp(1rem, 3vw, 7.7rem);
        margin-right: clamp(2rem, 1vw, 7.7rem);
        display: flex;
        flex-direction: column;
      }
    }
  }

  &__bg-img {
    width: 50%;
    background-color: gray;
    object-fit: cover;
  }
}

@media (max-width: breakpoints.$breakpoint-medium) {
  :host .auth-layout {
    &__bg-img {
      display: none;
    }

    &__inner {
      justify-content: center;
    }

    ::ng-deep {
      .auth-form {
        width: 80%;
        border: 1px solid red;
      }
    }
  }
}

@media (max-width: breakpoints.$breakpoint-small) {
  :host .auth-layout {
    ::ng-deep {
      .auth-form {
        width: 90%;
        border: 1px solid red;
      }
    }
  }
}
