@use "sass:map";
@use "/src/styles/variables";

.header {
  &__inner {
    padding: map.get(variables.$padding-values, "xsmall");
    display: flex;
    justify-content: space-between;
  }

  &__brand-logo {
    display: flex;
    align-items: center;
    margin-right: clamp(0.3rem, 1vw, 2.8rem);

    &-img {
      width: clamp(7rem, 23vw, 15.6rem);
    }
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;

  &__theme {
    display: flex;

    &-img {
      width: 2rem;
      height: auto;
    }

    &-select {
      align-self: center;
      margin-right: clamp(0.3rem, 1vw, 2.8rem);
      border: unset;
    }
  }

  &__lang {
    display: flex;

    &-img {
      width: 2rem;
      height: auto;
    }

    &-select {
      border: unset;
      margin-right: clamp(0.3rem, 1vw, 2.8rem);
    }
  }

  &__auth-buttons {
    display: flex;
    flex-wrap: nowrap;
  }
}

@media (min-width: map.get(variables.$breakpoints-media,"xlarge")) {
  .header-inner {
    padding: 3.1rem 9.7rem;
  }
}
