<header class="header">
  <div class="container">
    <div class="header__inner">
      <div class="header__brand-logo">
        <a
          class="header__brand-logo-link"
          [attr.aria-label]="'header.logo.title' | translate"
          [attr.title]="'header.logo.title' | translate"
          (click)="scrollToTop()"
          [routerLink]="['']"
          ><img
            class="header__brand-logo-img"
            [src]="
              (currentTheme$ | async)?.isLightTheme
                ? 'assets/images/logo-light.svg'
                : 'assets/images/logo-dark.svg'
            "
            alt="logo"
        /></a>
      </div>
      <div class="header__nav">
        <app-quick-settings class="header__nav-quick-settings"></app-quick-settings>
        <app-nav-user-hub
          class="header__nav-user-hub"
          [ngClass]="{ 'header__nav-user-hub--hide': isAuthPage$ | async }"
        ></app-nav-user-hub>
        <app-auth-buttons
          class="header__nav-auth-buttons"
          [ngClass]="{ 'header__nav-auth-buttons--show': isAuthPage$ | async }"
        ></app-auth-buttons>
        <button
          *ngIf="isSidenav$ | async"
          [attr.aria-label]="'header.menu.label' | translate"
          [attr.title]="'header.menu.label' | translate"
          mat-icon-button
          (click)="toggleSideNav()"
        >
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    </div>
  </div>
</header>
