@use "sass:map";
@use "/src/styles/variables/breakpoints";
@use "/src/styles/variables/spacing";

.header {
  height: var(--header-height);

  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__nav-user-hub {
    margin-left: clamp(0.3rem, 1vw, 2.8rem);
  }

  &__nav-auth-buttons {
    display: none;
  }

  &__inner {
    padding: map.get(spacing.$padding-values, "xsmall");
    display: flex;
    justify-content: space-between;
  }

  &__brand-logo {
    display: flex;
    align-items: center;
    margin-right: clamp(0.3rem, 1vw, 2.8rem);

    &-img {
      width: clamp(10rem, 23vw, 15.6rem);
    }
  }
}

@media (max-width: breakpoints.$breakpoint-medium-large) {
  .header {
    &__nav-quick-settings {
      display: none;
      border: 1px solid red;
    }
  }
}

@media (min-width: breakpoints.$breakpoint-small) {
  .header {
    &__nav-user-hub--hide {
      display: none;
    }

    &__nav-auth-buttons--show {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-left: clamp(0.3rem, 1vw, 2.8rem);
      margin-right: clamp(0.3rem, 1vw, 3.5rem);

      ::ng-deep {
        .auth-btn {
          width: clamp(12rem, 23vw, 14.1rem);

          &--login {
            margin-right: clamp(0.3rem, 0.7vw, 2.8rem);
          }
        }
      }
    }
  }
}
