@use '@angular/material' as mat;
@use '/src/styles/variables/colors';
@use '/src/styles/mixins/mixins' as mixins;

$app-dark-pink-primary: mat.define-palette(mat.$pink-palette);
$app-dark-pink-accent: mat.define-palette(mat.$blue-grey-palette);
$app-dark-pink-warn: mat.define-palette(mat.$red-palette);
$app-dark-pink-theme: mat.define-dark-theme(
  (
    color: (
      primary: $app-dark-pink-primary,
      accent: $app-dark-pink-accent,
      warn: $app-dark-pink-warn,
    ),
  )
);

body.app-dark-pink-theme {
  @include mat.all-component-colors($app-dark-pink-theme);
  @include mixins.material-custom-colors($app-dark-pink-theme, 'white');
}
