@use 'sass:map';
@use 'sass:color';
@use '@angular/material' as mat;
@use '/src/styles/mixins/mixins' as mixins;

$app-dark-purple-primary: mat.define-palette(mat.$purple-palette);
$app-dark-purple-accent: mat.define-palette(mat.$green-palette);
$app-dark-purple-warn: mat.define-palette(mat.$red-palette);
$app-dark-purple-theme: mat.define-dark-theme(
  (
    color: (
      primary: $app-dark-purple-primary,
      accent: $app-dark-purple-accent,
      warn: $app-dark-purple-warn,
    ),
  )
);
$dark-purple-color-config: mat.get-color-config($app-dark-purple-theme);
$dark-purple-is-dark-theme: map.get($dark-purple-color-config, 'is-dark');

body.app-dark-purple-theme {
  @include mat.all-component-colors($app-dark-purple-theme);
  @include mixins.material-custom-colors($app-dark-purple-theme, 'white');
}
