@use "@angular/material" as mat;
@use "sass:map";
@use "sass:color";

$angular-purple-primary: mat.define-palette(mat.$purple-palette);
$angular-purple-accent: mat.define-palette(mat.$green-palette);
$angular-purple-warn: mat.define-palette(mat.$red-palette);
$angular-dark-purple-theme: mat.define-dark-theme(
  (
    color: (
      primary: $angular-purple-primary,
      accent: $angular-purple-accent,
      warn: $angular-purple-warn,
    ),
  )
);
$dark-purple-color-config: mat.get-color-config($angular-dark-purple-theme);
$dark-purple-is-dark-theme: map.get($dark-purple-color-config, "is-dark");

body.app-dark-purple-theme {
  @include mat.all-component-colors($angular-dark-purple-theme);

  --primary-color: #{mat.get-color-from-palette($angular-purple-primary, 500)};
  --accent-color: #{mat.get-color-from-palette($angular-purple-accent, 500)};
  --bg-color: #303030;

  // --bg-color: #{color.scale(mat.get-color-from-palette(mat.$grey-palette, 900), $lightness: 7%)};
  // @debug "#{mat.get-color-from-palette($angular-purple-primary, A100)}";
  // --primary-color: #{mat.get-color-from-palette($angular-purple-primary, 500)};
  // --secondary-color: #{$dark-purple-accent-palette};
  // --text-color: #{$dark-purple-warn-palette};
}
