@use 'sass:map';
@use '@angular/material' as mat;
@use '/src/styles/variables/colors';
@use '/src/styles/variables/typography';
@use '/src/styles/mixins/material-custom-colors';

$app-light-indigo-primary: mat.define-palette(mat.$indigo-palette);
$app-light-indigo-accent: mat.define-palette(mat.$pink-palette);
$app-light-indigo-warn: mat.define-palette(mat.$red-palette);
$app-light-indigo-theme: mat.define-light-theme(
  (
    color: (
      primary: $app-light-indigo-primary,
      accent: $app-light-indigo-accent,
      warn: $app-light-indigo-warn,
    ),
  )
);

body.app-light-indigo-theme {
  @include mat.all-component-colors($app-light-indigo-theme);
  @include material-custom-colors.material-custom-colors($app-light-indigo-theme, 'black');
}
