@use "@angular/material" as mat;
@use "/src/styles/variables";

$angular-purple-primary: mat.define-palette(mat.$purple-palette);
$angular-purple-accent: mat.define-palette(mat.$amber-palette);
$angular-purple-warn: mat.define-palette(mat.$red-palette);
$angular-purple-light-theme: mat.define-light-theme(
  (
    color: (
      primary: $angular-purple-primary,
      accent: $angular-purple-accent,
      warn: $angular-purple-warn,
    ),
  )
);

body.app-light-theme {
  @include mat.all-component-themes($angular-purple-light-theme);

  --primary-color: map.get($light-theme-app-var, primary-color);
  --secondary-color: map.get($light-theme-app-var, secondary-color);
  --text-color: map.get($light-theme-app-var, text-color);
  --bg-color: map.get($light-theme-app-var, bg-color);
}
