@use "/src/styles/variables/breakpoints";
@use "sass:map";

:root {
  --header-height: 80px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: breakpoints.$breakpoint-xlarge;
  margin: 0 auto;
}
