<div class="theme">
  <mat-form-field class="theme__form">
    <img class="theme__form-img" src="/assets/images/theme-change-icon.png" alt="" />
    <mat-select
      class="theme__form-select"
      [value]="currentTheme$ | async"
      (selectionChange)="setTheme($event)"
    >
      <mat-option
        class="theme__form-select-option"
        [value]="theme"
        *ngFor="let theme of themesAllAppArray$ | async"
        >{{ theme.title }}</mat-option
      >
    </mat-select>
  </mat-form-field>
</div>
