.auth-btn {
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 2.9rem 4.8rem;
  width: 100%;
}

/* stylelint-disable-next-line selector-class-pattern */
:host-context(.sidenav__auth-buttons) {
  .auth-btn {
    &--login {
      margin-bottom: 0.5rem;
    }

    &--sign-up {
      margin-bottom: 0.5rem;
    }
  }
}
