.roboto {
  font-family: "Roboto Flex", sans-serif;

  .a {
    font-weight: 300;
  }

  .b {
    font-weight: 400;
  }

  .c {
    font-weight: 500;
  }
}

.nunito {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
}

.example-container {
  width: 500px;
  margin: 0 auto;
}
