<section class="sign-in">
  <div class="container">
    <div class="sign-in__inner">
      <img
        class="sign-in__bg-img"
        src="https://res.cloudinary.com/versomart/image/upload/v1696940639/auth-page-clothes.png"
        alt=""
      />
      <form [formGroup]="signInForm" class="sign-in__form">
        <h1 class="sign-in__title">{{ 'signInPage.title' | translate }}</h1>
        <button class="sign-in__google-btn" mat-stroked-button color="primary">
          <img class="sign-in__google-btn-img" src="assets/images/google.svg" alt="" />{{
            'signInPage.googleBtn' | translate
          }}
        </button>
        <div class="sign-in__divider">
          <span class="sign-in__divider-line"></span>
          <span class="sign-in__divider-text">{{ 'signInPage.separatorText' | translate }}</span>
          <span class="sign-in__divider-line"></span>
        </div>
        <div class="sign-in__email">
          <label for="usernameInput" class="sign-in__email-input-label">{{
            'signInPage.emailInput.label' | translate
          }}</label>
          <mat-form-field class="sign-in__email-input" appearance="outline">
            <input
              formControlName="email"
              matInput
              type="email"
              id="usernameInput"
              name="username"
              autocomplete="email"
            />
          </mat-form-field>
        </div>
        <app-password-field [passwordControl]="passwordControl"></app-password-field>
        <button class="sign-in__btn-sign-in" mat-raised-button color="primary">
          {{ 'signInPage.authButton.text' | translate }}
        </button>
      </form>
    </div>
  </div>
</section>
