<app-auth-layout>
  <ng-container auth-form>
    <form [formGroup]="signInForm" (ngSubmit)="submitForm()" class="auth-form">
      <h1 class="sign-in__title">{{ 'signInPage.title' | translate }}</h1>
      <app-google-btn class="sign-in__google-btn"></app-google-btn>
      <app-divider></app-divider>
      <app-username-field
        [usernameFormControl]="usernameFormControl"
        [translationKey]="'signInPage.emailInput.label'"
      ></app-username-field>
      <app-password-field
        class="sign-in__password-field"
        [passwordControl]="passwordControl"
      ></app-password-field>
      <a class="sign-in__forget-password-link" href="javascript:void(0)">{{
        'signInPage.forgetPassword' | translate
      }}</a>
      <button class="sign-in__btn-sign-in" mat-raised-button color="primary" type="submit">
        {{ 'signInPage.authButton.text' | translate }}
      </button>
    </form>
  </ng-container>
</app-auth-layout>
