<app-auth-layout
  url="https://res.cloudinary.com/versomart/image/upload/v1696940639/auth-page-clothes.png"
>
  <ng-container auth-form>
    <form [formGroup]="signInForm" (ngSubmit)="submitForm()" class="auth-form">
      <h1 class="sign-in__title">{{ 'signInPage.title' | translate }}</h1>
      <app-social-auth-btns class="sign-in__social-auth-btns"></app-social-auth-btns>
      <app-divider class="sign-in__divider"></app-divider>
      <app-email-field
        [emailFormControl]="emailFormControl"
        [translationKey]="'signInPage.emailInput.label'"
        [getErrorMessageKey]="getFormErrorMessageKey"
      ></app-email-field>
      <app-password-field
        class="sign-in__password-field"
        [passwordControl]="passwordControl"
        [getErrorMessageKey]="getFormErrorMessageKey"
      ></app-password-field>
      <a class="sign-in__forget-password-link" href="javascript:void(0)">{{
        'signInPage.forgetPassword' | translate
      }}</a>
      <button
        class="sign-in__btn-sign-in"
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="signInForm.invalid"
      >
        {{ 'signInPage.authButton.text' | translate }}
      </button>
      <p *ngIf="(authState$ | async)?.loading">Loading</p>
      <p class="sign-in__navigateToSignUp">
        {{ 'signInPage.navigateToSignUp.text' | translate }}
        <a
          class="sign-in__navigateToSignUp-link"
          [href]="'/' + (languageApp$ | async)?.value + '/auth/sign-up'"
          >{{ 'signInPage.navigateToSignUp.linkText' | translate }}</a
        >
      </p>
    </form>
  </ng-container>
</app-auth-layout>
