$light-theme-app-var: (
  primary-color: #3498db,
  secondary-color: #2ecc71,
  text-color: #333,
  bg-color: #fff,
);
$dark-theme-app-var: (
  primary-color: #3498db,
  secondary-color: #2ecc71,
  text-color: #ddd,
  bg-color: #333,
);
