@use 'sass:map';

.nav-user-hub {
  display: flex;

  &__user-button {
    &--check {
      &::after {
        content: '✔'; /* Unicode for checkmark */
        position: absolute;
        right: 0.2rem;
        top: 0.2rem;
        color: green; /* making the check icon green */
        font-size: 1.8rem; /* adjust based on the size you want */
        border-radius: 50%; /* if you want to make it circular */
        padding: 2px; /* spacing around the checkmark */
      }
    }
  }

  &__auth-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    &__btn {
      text-align: center;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 1.8rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding: 1.1rem 2.4rem;
      width: 100%;

      &--login {
        // background-color: var(--primary-color);
      }
    }
  }

  &__user-icon {
    position: relative;
  }
}
