<div class="password-field">
  <div class="password-field__legend">
    <label for="passwordInput" class="password-field__text">{{
      'signInPage.passwordInput.title' | translate
    }}</label>
    <div class="password-field__btn-toggle">
      <button
        mat-icon-button
        matSuffix
        (click)="isPswHiden = !isPswHiden"
        [attr.aria-label]="'signInPage.passwordInput.toggleBtn.label' | translate"
        [attr.title]="'signInPage.passwordInput.toggleBtn.label' | translate"
        [attr.aria-pressed]="isPswHiden"
      >
        <mat-icon>{{ isPswHiden ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-label class="password-field__btn-toggle-label" (click)="isPswHiden = !isPswHiden">
        {{
          isPswHiden
            ? ('signInPage.passwordInput.toggleBtn.show' | translate)
            : ('signInPage.passwordInput.toggleBtn.hide' | translate)
        }}
      </mat-label>
    </div>
  </div>
  <mat-form-field #matPasswordFormField class="password-field__input" appearance="outline">
    <input
      matInput
      [type]="isPswHiden ? 'password' : 'text'"
      id="passwordInput"
      name="password"
      autocomplete="current-password"
      [formControl]="passwordControl"
    />
    <mat-error>incorect</mat-error>
  </mat-form-field>
</div>
